streamlit
speech_recognition
pydub
AudioSegment
os
torch
transformers
T5Tokenizer
T5ForConditionalGeneration
T5Config
PyPDF2
PdfReader
pytesseract
PIL
Image
pytesseract @ https://digi.bib.uni-mannheim.de/tesseract/tesseract-ocr-w64-setup-5.3.3.20231005.exe
ffmpeg